@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Archivo Narrow", "sans-serif";
  }

:root{
    /* colors */
    --gold-yellow-200: #FFE173;
    --gold-yellow-300: #FFD63F;
    --gold-yellow-500: #FFC700;
    --gold-yellow-700: #FDCC1A;

    --sea-green-100: #CFE9E1;
    --sea-green-300: #51907D;
    --sea-green-500: #2F8F6F;
    --sea-green-700: #2F6F59;
    --sea-green-900: #163A2E;

    --aqua-blue-100: #A8E1E4;
    --aqua-blue-500: #49A9AE;

    --miranda-100: #FFCDA7;
    --miranda-500: #EEA874;

    --lime-green-500: #E2FBB2;
    --lime-green-500: #B9DB75;

    /* fonts */
    --title-font: "Oxanium", "ui-sans-serif", "sans-serif";
    --body-font: "Archivo Narrow", "ui-sans-serif", "sans-serif";
}

/* layout */
.home-layout{
    @apply max-w-[1512px] mx-auto;
}

.section-padding{
    @apply px-4 lg:px-[108px];
}

/* buttons */
.green-btn{
    @apply px-3 lg:px-6 py-1 lg:py-2 whitespace-nowrap font-medium tracking-wide text-white capitalize transition-colors duration-300 transform bg-sea-green-700 rounded-md hover:bg-sea-green-500;
}

.yellow-btn{
    @apply text-xs lg:text-base px-3 lg:px-6 py-1 lg:py-2 whitespace-nowrap font-medium tracking-wide text-black capitalize transition-colors duration-300 transform bg-gold-yellow-500 rounded-md hover:bg-gold-yellow-700;
}